<div id="site_name">
	#set($site_url = $g_site.siteURL("${link.getContextURL()}/"))
	<a href="$dlog.root()/${g_site.uniqueName}" class="nostyle"><b>$escape.html(${g_site.friendlyName})</b></a>
	&nbsp;&nbsp;&nbsp;&nbsp;<a href="$site_url" onclick="copy_to_clipboard('$site_url');return false;"><span class="en9pt">$site_url</span></a>
	(<a href="#" onclick="copy_to_clipboard('$site_url');return false;">µã»÷¸´ÖÆ</a>,<a href="#" onclick="bookmark_site('${g_site.id}','$link.encodeURL(${g_site.friendlyName})') ;return false;"><span class="en9pt">ÊÕ²Ø</span></a>)
</div>
<div id="site_detail">$!{g_site.detail}</div>
<!--<div id="site_url">${site_url}</div>-->

<script src="$dlog.root()/js/prototype.js" type="text/javascript"></script>
<script type="text/javascript">
	function bookmark_site(site_id,site_title){
		var random = Math.random()+'';
		var url = '$link.setAction("html/bookmark")?sid=$g_site_id&parentId='+site_id+'&parentType=5&eventSubmit_Add='+random+'&title='+site_title;		
    	var myAjax = new Ajax.Request(url,
    	    {method: 'get', onComplete: bookmark_site_response}
    	);
	}
	function bookmark_site_response(originalRequest) {
		alert(originalRequest.responseText);
    }
</script>