##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  Define common global variable of DLOG,HTML,WML
##
###############################################################################
#if(!$g_site_id)
#set($g_site_id = $dlog.param("sid",-1))
#set($g_site = $dlog.site($g_site_id))
#end
#if(!$g_user_id)
#set($g_user_id = -1)
#set($g_user = $dlog.get_current_user())
#if($g_user)#set($g_user_id = ${g_user.id})#end
#end
#if(!$g_use_cache)
#set($__web_inf_layout_global = $response.setHeader("Pragma","No-cache"))
#set($__web_inf_layout_global = $response.setHeader("Cache-Control","max-age=0"))
#set($__web_inf_layout_global = $response.setDateHeader("Expires", 0))
#end