##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  Home page of music channel
##
###############################################################################
#parse("/html/_sub/_global.vm")
#select_layout("p_music.vm")
#set($page_title=$text.ui("label.music.title"))
###############################################################################
#set($is_owner = $dlog.is_owner($g_site, $g_user))
#set($mboxid = $dlog.param("box", -1))
<div class="page_top"></div>
<div class="page_content">#invoke("_music_box.vm")</div>
<div class="page_bottom"></div>