##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  user register
##
###############################################################################
#invoke("_sub/_global.vm")
#select_layout("p_main.vm")
#set($page_title="注册新用户")
#set($next_uri=$dlog.param("fromPage",""))
#set($uform = $form.getBean())
<div class="page_top">
	<h3>&nbsp;注册新用户</h3>
</div>
<div class="page_content">
	<form name="uform" method="POST" action="$link.setAction("dlog/user")" onsubmit="return validateUserForm(this);">
    <input type="hidden" name="__ClientId" value="$dlog.gen_client_id()"/>
    <input type="hidden" name="fromPage" value="$next_uri"/>
	<input type="hidden" name="cb_agreement" value="1"/>
	#if($g_site)<input type="hidden" name="sid" value="$g_site_id"/>#end
	<div class="form">
    <p><strong>用户基本信息(<font color="red">必填</font>):</strong></p>    
	<div class="form_row">
		<div class="form_row_title fleft">
			用户名:
		</div>
		<div class="form_row_content">
			<input type="text" size="20" maxlength="20" id="name" name="name" value="$!{uform.name}">
			<a href="#" onclick="validateUname($F('name'));return false;">检测用户名</a>
			#struts_message("name")
		</div>
	</div>
	<div class="spacer_1"></div>
	<div class="form_row">
		<div class="form_row_title fleft">
			昵称:
		</div>
		<div class="form_row_content">
			<input type="text" size="20" maxlength="20" id="nickname" name="nickname" value="$!{uform.nickname}">
			<a href="#" onclick="validateNname($F('nickname'));return false;">检测昵称</a>
			#struts_message("nickname")
		</div>
	</div>
	<div class="spacer_1"></div>
	<div class="form_row">
		<div class="form_row_title fleft">
			密码:
		</div>
		<div class="form_row_content">
			<input type="password" size="20" maxlength="20" name="password">
			#struts_message("password")
		</div>
	</div>
	<div class="spacer_1"></div>
	<div class="form_row">
		<div class="form_row_title fleft">
			密码确认:
		</div>
		<div class="form_row_content">
			<input type="password" size="20" maxlength="20" name="password2">
		</div>
	</div>
	<div class="spacer_1"></div>
	<div class="form_row">
		<div class="form_row_title fleft">
			校验码:
		</div>
		<div class="form_row_content">
			<input type="text" size="5" maxlength="4" name="verifyCode">
			<img src="$dlog.root()/servlet/verify.img"/>
			#struts_message("verifyCode")
		</div>
	</div>
    <p><strong>联系信息(可选):</strong></p>
	<div class="form_row">
		<div class="form_note">
			<b>提示：请认真填写电子邮件，以便您忘记密码时系统可以将密码发送到该邮箱。</b>
		</div>
	</div>
	<div class="form_row">
		<div class="form_row_title fleft">
			电子邮件:
		</div>
		<div class="form_row_content">
			<input type="text" size="30" maxlength="50" name="email" value="$!{uform.email}">                    
			#struts_message("email")
		</div>
	</div>
	<div class="spacer_1"></div>
	<div class="form_row">
		<div class="form_row_title fleft">
			QQ:
		</div>
		<div class="form_row_content">
            <input type="text" size="16" maxlength="16" name="qq" value="$!{uform.qq}">                                        
            #struts_message("qq")
		</div>
	</div>
	<div class="spacer_1"></div>
	<div class="form_row">
		<div class="form_row_title fleft">
			MSN:
		</div>
		<div class="form_row_content">
            <input type="text" size="30" maxlength="50" name="msn" value="$!{uform.msn}">                    
            #struts_message("msn")
		</div>
	</div>
	<div class="spacer_1"></div>
	<div class="form_row">
		<div class="form_row_title fleft">
			个人网址:
		</div>
		<div class="form_row_content">
            <input type="text" size="50" maxlength="50" name="homePage" value="$!{uform.homePage}">                    
            #struts_message("homePage")
		</div>
	</div>
	<div class="spacer_1"></div>
	<div class="form_row">
		<div class="form_row_title fleft">
			地区(省/市)
		</div>
		<div class="form_row_content">#invoke("_sub/_area.vm")</div>
	</div>
	<div class="spacer_1"></div>
	<div class="form_row">
		<div class="form_row_title fleft">
			您的性别？
		</div>
		<div class="form_row_content">
        <input type="radio" name="sex" value="0" #if(!$uform || ${uform.sex}==0)checked#end>保密
        <input type="radio" name="sex" value="1" #if($uform && ${uform.sex}==1)checked#end>男 
        <input type="radio" name="sex" value="2" #if($uform && ${uform.sex}==2)checked#end>女
		</div>
	</div>
	<div class="spacer_1"></div>
	<div class="form_row">
        <link rel="stylesheet" type="text/css" media="all" href="$dlog.root()/css/calendar-blue.css" title="win2k-cold-1" />
        <script type="text/javascript" src="$dlog.root()/js/calendar.js"></script>
        <script type="text/javascript" src="$dlog.root()/js/calendar_lang/calendar-en.js"></script>
        <script type="text/javascript" src="$dlog.root()/js/calendar-setup.js"></script>
		<div class="form_row_title fleft">
			您的生日？
		</div>
		<div class="form_row_content">
        &nbsp;&nbsp;<span id="show_birth">$!{uform.birth}</span>&nbsp;&nbsp;
        <input type="hidden" name="birth" id="f_date_birth" value="$!{uform.birth}"/>
        &nbsp;&nbsp;<img id="f_trigger_birth" src="$html.image_src("date_sel.gif")" border="0" align="absMiddle"/>&nbsp;&lt;--点击这里进行设置
        #calendar_setup("f_date_birth" "show_birth" "f_trigger_birth")
		</div>
	</div>
	<div class="spacer_1"></div>
	<div class="form_row">
		<div class="form_row_title fleft">
			个人宣言:
		</div>
		<div class="form_row_content">
			<textarea name="resume" rows="5" cols="40">$!{uform.resume}</textarea>
		</div>
	</div>
	<div class="spacer_1"></div>
	<div class="form_row">
		<div class="form_row_title fleft">
			登录信息:
		</div>
		<div class="form_row_content">
            <select name="keepDays">
                <option value="-1">不保存</option>
                <option value="1">保存一天</option>
                <option value="7">保存一周</option>
                <option value="30">保存一月</option>
                <option value="365" selected>保存一年</option>
            </select>
		</div>
	</div>
	<!--
	<div class="form_row">
		<p>
		<input type="checkbox" name="cb_agreement" value="1"/> 阅读并同意接受"<a href="$dlog.root()/dlog/agreement.html" target="agreement">DLOG服务条款</a>"
		</p>
    </div>
	-->
	<div class="spacer_1"></div>
	<div class="form_row">
		<div class="form_row_submit">
            <input type="submit" name="eventSubmit_CreateUser" value="提交注册">
            <input type="reset" value="重新填写">
            <input type="button" value="返回上页" onclick="history.go(-1)"/>
    		<input type="button" value="返回首页" onclick="location.href='$dlog.root()/#if($g_site)?sid=${g_site_id}#end';"/>
		</div>
	</div>
	</div>
	</form>
	<br/>
</div>
<div class="page_bottom"></div>
<script src="$dlog.root()/js/prototype.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
	function validateUname(uname){
		if(is_empty(uname)){
			alert("请输入用户名");
			document.uform.name.focus();
			return;
		}
		var url = '$link.setAction("validate")';
		var args = 'eventSubmit_ValidateUsername=' + uname;
		
    	var myAjax = new Ajax.Request(url,
    	    {method: 'post', parameters: args, onComplete: ajax_response}
    	);
	}
	function validateNname(uname){
		if(is_empty(uname)){
			alert("请输入昵称");
			document.uform.nickname.focus();
			return;
		}
		var url = '$link.setAction("validate")';
		var args = 'eventSubmit_ValidateNickname=' + uname;
		
    	var myAjax = new Ajax.Request(url,
    	    {method: 'post', parameters: args, onComplete: ajax_response}
    	);
	}
	function ajax_response(originalRequest) {
		if(originalRequest.status==200){
			if(not_empty(originalRequest.responseText))
				alert(originalRequest.responseText);
			else
				alert("您输入的信息有效.");
		}
    }
    function validateUserForm(uForm){
        with(uForm){
            if(is_empty(name.value)){
                alert("username is required.");
                name.focus();
                return false;
            }
            if(is_empty(nickname.value)){
                alert("nickname is required.");
                nickname.focus();
                return false;
            }
            if(is_empty(password.value)){
                alert("password is required.");
                password.focus();
                return false;
            }
            if(!equals(password.value, password2.value)){
                alert("password doesn't match.");
                password.focus();
                return false;
            }
            if(is_empty(verifyCode.value)){
                alert("verifyCode is required.");
                verifyCode.focus();
                return false;
            }
        }
        return true;
    }
    
</script>