##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  bbs layout
##
###############################################################################
#set($rss_type=4)
#set($current_menu_item = 5)
#set($left_template = "/html/bbs/_bbs_left.vm")
#html_doctype()
<html xmlns="http://www.w3.org/1999/xhtml" lang="UTF-8">
<head>
    #invoke("../_head.vm")
</head>
<body>
#if($g_site)
    #invoke("_screen.vm")
#else
	#parse("/html/_sub/_site_not_available.vm")
#end
</body>
</html>