##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  edit diary
##
###############################################################################
#parse("/html/_sub/_global.vm")
#select_layout("p_diary.vm")
###############################################################################
#set($log_id = $dlog.param("log_id",-1))
#set($log = $DIARY_tool.diary($g_site, $g_user, $log_id))
#set($page_title=${log.title})
#if(!$g_user)
    #show_msg_box("用户尚未登录,点击<a href='$dlog.root()/dlog/login.vm?sid=$g_site_id'>这里</a>登录")
#elseif(!$DIARY_tool.can_user_edit_diary($g_user, $log))
    #show_msg_box("您没有编辑该日记的权限！")
#else
#if($messages.exist())
<div class="error_msg">$messages.getAll()</div>
#end
#set($catalogs = $DIARY_tool.catalogs($g_site, $g_user, true))
<form action="$link.setAction("html/diary")" onsubmit="return validateLogForm(this)" method="post" name="logForm">
<input type="hidden" name="id" value="$log.id" />
<input type="hidden" name="log_id" value="$log.id" />
<input type="hidden" name="sid" value="$g_site_id" />
<input type="hidden" name="clientType" value="0" />
<input type="hidden" name="status" value="${log.status}" />
<input type="hidden" name="__method" value="" />
<input type="hidden" name="__ClientId" value="$dlog.gen_client_id()" />
<div class="page_top">
	<div class="pagecontent">
		<div class="pagecontent_left fleft">
			<b>编辑日记</b>
		</div>
		<div class="pagecontent_right fright">
			 今天是: $date.get("MMMMM d, yyyy  EEEEE")
		</div>        
	</div>
	<div class="spacer_1"></div>
</div>
<div class="page_content">
	<div class="form">
    	<div class="form_row">
    		<div class="form_row_title fleft">
    			分类:
    		</div>
    		<div class="form_row_content">
        		<select name="catalogId">
					#foreach($cat in $catalogs)
						<option value="${cat.id}"#if(${log.catalog.id}==${cat.id}) selected#end>$text.html(${cat.name})</option>
					#end
				</select>
				<a href="$dlog.root()/html/sitemgr/catalog_add.vm?sid=$g_site_id">&lt;添加分类&gt;</a>
    		</div>
    	</div>
		<div class="spacer_1"></div>
		<div class="form_row">
    		<div class="form_row_title fleft">
    			天气:
    		</div>
    		<div class="form_row_content">
        		#set($weathers = ["sunny","ptcloudy","cloudy","showers","rain","storms","snow","flurries","ice","dark"])
                <select id="select" name="weather" onchange="changeWeather(options[selectedIndex].value)">
                #foreach($w in $weathers)
                <option value="$w"#if($log.weather.equals($w)) selected#end>$w</option>
                #end
                </select>
				<img id="img_weather" height="20" alt="weather" src="" align="absmiddle" />
				<script language="javascript" type="text/javascript">
				function changeWeather(weather){
					var img = '$html.image_src("weather/")'+weather+'.gif';
					document.images['img_weather'].src=img;
				}
				changeWeather("${log.weather}");
				</script>
    		</div>
    	</div>
		<div class="spacer_1"></div>
		<div class="form_row">
    		<div class="form_row_title fleft">
    			背景音乐:
    		</div>
    		<div class="form_row_content">
        		#if($g_site.songs.size()>0)
                <select name="bgSound">
                	<option value="-1" selected>[无背景音乐]</option>
                	#foreach($song in $g_site.songs)
                	<option value="${song.id}" #if(${log.bgSound} && ${log.bgSound.id}==${song.id})selected#end>&nbsp;&#8226;&nbsp;${song.title}</option>
                	#end
                </select>
				#end
				&nbsp;
    		</div>
    	</div>
		<div class="spacer_1"></div>
		<div class="form_row">
    		<div class="form_row_title fleft">
    			标题:
    		</div>
    		<div class="form_row_content">
        		<input type="text" name="title" maxlength="100" size="48" value="$!{log.title}" />&nbsp;{必须填写}
    		</div>
    	</div>
		<div class="spacer_1"></div>
		<div class="form_row">
    		<div class="form_row_title fleft">
    			作者:
    		</div>
    		<div class="form_row_content">
        		<input type="text" name="author" size="12" value="$!{log.author}" />
				<input type="text" name="authorUrl" size="35" value="$!{log.authorUrl}" />
    		</div>
    	</div>
		<div class="spacer_1"></div>
		<div class="form_row">
    		<div class="form_row_title fleft">
    			关键字:
    		</div>
    		<div class="form_row_content">
        		<input type="text" name="tags" maxlength="40" size="35" value="$!{log.keyword}" />&nbsp;(多个关键字请用空格隔开)
    		</div>
    	</div>
		<div class="spacer_1"></div>
		<div class="form_row">
			<div class="spacer_5"></div>
			<textarea name="content" style="WIDTH: 100%; HEIGHT: 400px">$!{log.content}</textarea>
			<div class="spacer_5"></div>
		</div>
		<div class="spacer_1"></div>
		<div class="form_row">
    		<div class="form_row_title fleft">
    			引用地址:
    		</div>
    		<div class="form_row_content">
				<input type="text" name="refUrl" size="50" value="$!{log.refUrl}" />
			</div>
    	</div>
		<div class="spacer_1"></div>
		<div class="form_row">
    		<div class="form_row_title fleft">
    			心情系数:
    		</div>
    		<div class="form_row_content">
				<input type="radio" value="1" name="moodLevel"#if(${log.moodLevel}==1) checked#end> $html.img("mood/1.gif","1")
                <input type="radio" value="2" name="moodLevel"#if(${log.moodLevel}==2) checked#end> $html.img("mood/2.gif","2")
                <input type="radio" value="3" name="moodLevel"#if(${log.moodLevel}==3) checked#end> $html.img("mood/3.gif","3")
                <input type="radio" value="4" name="moodLevel"#if(${log.moodLevel}==4) checked#end> $html.img("mood/4.gif","4")
                <input type="radio" value="5" name="moodLevel"#if(${log.moodLevel}==5) checked#end> $html.img("mood/5.gif","5")
			</div>
    	</div>
		<div class="spacer_1"></div>
		<div class="form_row">
			<div class="form_row_content">
        		<input type="checkbox" name="notify" value="1" #if(!$dlog.is_email(${g_user.contactInfo.email}))disabled#end/>
    			有回帖时邮件提醒#if($dlog.is_email(${g_user.contactInfo.email}))(${g_user.contactInfo.email})#end
			</div>
    	</div>
		<div class="spacer_1"></div>
		<div class="form_row">
			<div class="form_row_submit">
				#if($log.status==5)
                <input type="submit" name="eventSubmit_PublishDraft" value="发表" onclick="return before_submit_diary();"/>#end
                <input type="submit" name="eventSubmit_UpdateLog" value="修改" onclick="return before_submit_update();"/>
                #if($log.lock==0)
                <input type="submit" name="eventSubmit_Lock" value="锁定" />
                #else
                <input type="submit" name="eventSubmit_UnLock" value="解锁" />
                #end
                <input type="submit" name="eventSubmit_Delete" value="删除" onclick="return confirm('您确认要删除该日记吗？');" />
                <input type="reset" value="重置" onclick="logForm.title.focus()" />
                <input type="button" value="返回" onclick="history.go(-1)" />
			</div>
    	</div>
	</div>
</div>
<div class="page_footer"></div>
</form>
<script src="$dlog.root()/js/prototype.js" type="text/javascript"></script>
<script type="text/javascript">
    window.onload = function()
    {
        var sBasePath = document.location.pathname.substring(0,document.location.pathname.lastIndexOf('html')) ;    
        var oFCKeditor = new FCKeditor( 'content' ) ;
        oFCKeditor.BasePath    = sBasePath ;
        oFCKeditor.Height = 400;
        oFCKeditor.ReplaceTextarea() ;
    }
    
    function validateLogForm(theForm)
    {
        with(theForm){
            if(is_empty(title.value)){
                alert("title is required.");
                title.focus();
                return false;
            }
            if(is_empty(author.value)){
                alert("author is required.");
                author.focus();
                return false;
            }
        }
        return true;
    }
	function before_submit_update(){
		document.logForm.__method.value = "UpdateLog";
		return check_network();
	}
	function before_submit_diary(){
		document.logForm.__method.value = "PublishDraft";
		return check_network();
	}
	function check_network(){
		var url = '$link.setAction("validate")?sid=${g_site_id}&uid=${g_user_id}&eventSubmit_ValidateLogin='+Math.random();		
    	var myAjax = new Ajax.Request(url,
    	    {method: 'get', onComplete: check_network_response}
    	);
		return false;
	}
	function check_network_response(originalRequest) {
		if(originalRequest.status==200){
			if(equals(originalRequest.responseText,"1")){
				//继续提交操作
				document.logForm.submit();
			}
			else{
				alert("用户登录信息已超时，请妥善保存日记内容登录后再试！");
			}
		}
		else{
			alert("检查网络连接失败，请妥善保存日记内容稍后再试！");
		}
    }
</script>
#end